:root {
    --primary-text-color: rgba(0, 0, 0, 0.8);
    --title-text-color: #000000;
    /* --accent-color: #18a0fb; */
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    --primary-white-color: #ffffff;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    /* background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, serif;
    letter-spacing: -0.015em;
    font-size: 18px;
    font-weight: 500; */
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
header{
    position: relative;
    width: 1600px;
    height: 80px;
    background-color: #ffffff;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    }
.list {
        list-style: none;
        padding-left: 0;
        margin: 0;
    }

.link {
    text-decoration: none;
    color: inherit;
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.main-nav{
    display: flex;
    align-items: center;
}
.nav-list{
    display: flex;
    margin-left: 70px;
}
.nav-list .item+ .item{
    margin-left: 40px;
}
.nav-list .list-link{
    display: block;
    padding-top: 21px;
    padding-bottom: 21px;
}
.contacts-nav{
    display: flex;
    margin-left: auto;
}
.contacts-nav .item+ .item{
    margin-left: 30px;
}
.logo {
    color: var(--title-text-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
}
.logo:hover {
    color: var(--accent-color);
}
.logo>span{
    color:#18a0fb
}
ul{
    list-style-type: none;
}
.list-link{
    color: var(--primary-text-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}
.list-link:hover{
    color: var(--accent-color);
    }

.mail{
    color: #757575;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}
.mail:hover{
    color: var(--accent-color);
}
.phone{
    color: #757575;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}
.phone:hover{
    color: var(--accent-color);
}

.hero{
display: flex;
flex-direction: column;
background-color: #2F303A;
padding: 100px 0;
align-items: center;
justify-content: center;
}
.hero h1{
    color:#ffffff;
    font-size: 44px;
    line-height: 1.4;
    font-weight: 900;
    text-align: center;
}

.button{
    font-size: 16px;
    color:#ffffff;
    font-weight: 700;
    background-color:#2196F3;
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
    height: 50px;
    width: 200px;

}
.images-container{
    display: flex;
    margin-top: 44px;
    padding-left: 30px;
    margin-left: 215px;
    margin-right: 215px;
    justify-content: center;
    align-items: center;
}
.image-container{
    margin-right: 30px;
}

.flex-container{
    display: flex;
    background-color: #F5F4FA;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    justify-content: center;
    align-items: center;
    }

.attention{
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    margin-top: 30px;
}
.p{
    font-size: 14px;
    font-weight: 400;
    color: #757575;
    line-height: 24px;
}

.punctuality{
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    margin-top: 30px;
}

.planning{
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    margin-top: 30px;
}

.technologies{
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    margin-top: 30px;
}

.works-section{
    padding: 50px 0;
}
.works-title{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.container-images{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.container-images img{
    border-radius: 10px;
}

.team{
    background-color:#F5F4FA;
    padding: 94px 0;
    text-align: center;
}
.team-title{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
    line-height: 1.17;
    text-align: center;
    color: #212121;
}
.team .team-title{
    margin-bottom: 50px;
}
.list.team-cards{
    display: flex;
    margin-left: -30px;
    text-align: center;
}

.cards-item{
    margin-left: 30px;
    flex-basis: calc((100%-90px)/3);
    box-shadow: var(--box-shadow);
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
}

.team-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: #212121;
}

.team-profession{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 0;
}

.team-card-text{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
}

.team p{
    margin-bottom: 16px;
}

.social-links{
    display: inline-flex;
}

.social-links a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.social-links li:not(:last-child){
    margin-right: 10px;
}

.social-links .icon{
    fill: #AFB1B8;
}

.social-links a:hover,
.social-links a:focus{
    background-color: var(--accent-color);
}

.social-links a:hover .icon,
.social-links a:focus .icon{
    fill: #ffffff;
}

.footer{
    background-color:#2F303A;
}
.footer-logo{
    color: #ffffff;
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    line-height: 1.19;
}
.footer-logo>span{
    color:#18a0fb;
}
.footer-logo:hover{
    color: var(--accent-color);
}
.address li, .address ul{
    padding: 0px;
    margin: 0px;
}
.p-address{
    margin-top: 20px;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color:#ffffff;
}
.footer-mail {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.600);
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
}
.footer-mail:hover{
    color: #2196F3;
}
.footer-phone{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.600);
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
}
.footer-phone:hover {
    color: #2196F3;
}
.h4{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color:#ffffff;

}
.join-icon{
    display: flex;
    color:#ffffff;
    background-color: rgba(255, 255, 255, 0.100);
    border-radius: 50%;
    margin-bottom: 10px;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
.join-icon:hover{
    background-color:#2196F3;
}
.button-icon{
    color:#ffffff;
}
.join-icon svg{
    fill:#ffffff;
}
.input{
    border: 2px solid rgba(255, 255, 255, 0.30);
    width: 358px;
    height: 50px;
    background-color: #2F303A;
    appearance: none;
    outline:#ffffff;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.600);
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
}
.subscribe-button{
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.87;
    font-weight: 700;
    color:#ffffff;
}
.subscribe-svg{
    fill:#ffffff;
    width: 24px;
    height: 24px;
}
.page-container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
